@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: "extradica";
    src: url(/fonts/extradica/extradicta.ttf);
}
@font-face {
    font-family: "steppe";
    src: url(/fonts/steppe/SteppeTrial-Light-BF64acc0ed7e053.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "steppe";
    src: url(/fonts/steppe/SteppeTrial-Medium-BF64acc0eda297d.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "steppe";
    src: url(/fonts/steppe/SteppeTrial-Regular-BF64acc0eda3b9f.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "steppe";
    src: url(/fonts/steppe/SteppeTrial-SemiBold-BF64acc0ed87581.ttf);
    font-weight: 600;
}




.bubbles span {
    animation: animate 45s linear infinite;
    animation-duration: calc(300s / var(--i));

}


@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(1);
    }
    100%{
        transform: translateY(-10vh) scale(2);
    }
}



.gradient-svg-1 path {
    fill: url('#white1');
  }
  stop {
    transition: 0.5s;
  }
  
  .gradient-svg-1:hover stop:first-child {
    stop-color: #8797FF;
  }
  .gradient-svg-1:hover stop:last-child {
    stop-color: #FF9CEB;
  }

  
.gradient-svg-2 path {
    fill: url('#white2');
  }
  stop {
    transition: 0.5s;
  }
  
  .gradient-svg-2:hover stop:first-child {
    stop-color: #8797FF;
  }
  .gradient-svg-2:hover stop:last-child {
    stop-color: #FF9CEB;
  }
  .gradient-svg-3 path {
    fill: url('#white3');
  }
  stop {
    transition: 0.5s;
  }
  
  .gradient-svg-3:hover stop:first-child {
    stop-color: #8797FF;
  }
  .gradient-svg-3:hover stop:last-child {
    stop-color: #FF9CEB;
  }