@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: "extradica";
    src: url(/fonts/extradica/extradicta.otf);
}
@font-face {
    font-family: "steppe";
    src: url(/fonts/steppe/SteppeTrial-Regular-BF64acc0eda02f4.otf);
}